* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  scroll-behavior: smooth;
 }
 
 :root {
  --loginMainTheme: #262b31;
  --loginSecondaryTheme: #b74f56; 
  --PrimaryTheme: #37455e;
  --SecondaryTheme: #5c657f;
 }