<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links -->

    <!-- Original filepath structure to .css templates-->
    <!---->
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/forgotPassword.css"/>
    
    <!-- <link rel="stylesheet" href="/Login/styles/universal.css" />
    <link rel="stylesheet" href="/Login/styles/forgotPassword.css" /> -->

    <!-- Title -->
    <title>Forgot Password</title>
  </head>

  <!-- Login Start -->
  <div class="login-w">
    <div class="login-card">
      
      <!-- Login Left Start -->
      <div class="login-l">
        <div class="login-title">
          <h1>Channel 4 News</h1>
        </div>

        <div class="logo-w">
          <!-- Updated image file path-->
          <img src="/imgs/JavaLogo-fix.png" alt="">
          <!-- <img src="/Login/imgs/JavaLogo-fix.png" alt="logo" /> -->
        </div>
      </div>

      <!-- Login Right Start -->
      <div class="login-r">
        <div class="login-form">

          <div class="forgotPassword-title">
            <h1>Forgot Password</h1>
          </div>

          <div class="username-w input-w">
            <input type="text" required />
            <i>Email</i>
          </div>

          <div class="forgot-Link">
            <h4>Back to Login!</h4>
          </div>

        <form class="loginBtn-w" action="">
          <button class="login-btn">Submit</button>
        </form>

        <h5 class="signUp-w">Dont have an account? Sign-Up!</h5>
      </div>
    </div>
  </div>
  <!-- Login Finish -->

  <body></body>
</html>
