<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links -->
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/signup.css">

    <!-- Title -->
    <title>Sign-Up</title>
  </head>

  <!-- Login Start -->
  <div class="login-w">
    <div class="login-card">
      
      <!-- Login Left Start -->
      <div class="login-l">
        <div class="login-title">
          <h1>Channel 4 News</h1>
        </div>

        <div class="logo-w">
          <img src="/imgs/JavaLogo-fix.png" alt="logo">
        </div>
      </div>

      <!-- Login Right Start -->
      <div class="login-r">
        <form class="login-form" action="/signup" method="post">

          <div class="name-w input-w">
            <input type="text" name="name" required />
            <i>Name</i>
          </div>

          <div class="username-w input-w">
            <input type="text" name="username" required />
            <i>Email</i>
          </div>

          <div class="password-w input-w">
            <input type="password" name="password" required />
            <i>Password</i>
          </div>

<!--This just added-->
          <div class="city-w input-w">
            <input type="text" name="city" required />
            <i>City</i>
          </div>
<!--This just added-->
          <div class="state-w input-w">
            <input type="text" name="state" required />
            <i>State</i>
          </div>

          <button class="login-btn" type="submit">Sign-Up</button>
        </form>

        <div class="forgot-Link">
          <h4><a href = "/forgotPassword">Forgot Password?</a></h4>
        </div>

        <h4><a href = "/">Back to Login!</a></h4>
      </div>
    </div>
  </div>
  <!-- Login Finish -->

  <body></body>
</html>
